how to create a dictionary
how to access pairs in dictionary
how to run a loop in dictionary
how to make a nested dictionary
indexing in dictionary

In [1]:
student = {
    "name":"alice",
    "age":20,
    "course":"bca",
    "marks":90
}
print(student)

{'name': 'alice', 'age': 20, 'course': 'bca', 'marks': 90}

In [2]:
info= dict(name="Alice",age=20,course="bca",marks=90)
print(info)

{'name': 'Alice', 'age': 20, 'course': 'bca', 'marks': 90}

In [4]:
info= dict(name=input ("enter the name"),age=20,course="bca",marks=90)
print(info)

{'name': 'ritesh', 'age': 20, 'course': 'bca', 'marks': 90}

In [5]:
temp = {
    'lucknow':[30,36,50],
    'delhi':[40,45,50],
    'chennai':[30,40]
}
print(temp)

{'lucknow': [30, 36, 50], 'delhi': [40, 45, 50], 'chennai': [30, 40]}

In [6]:
#1st method to access value through key
info['name']
info['age']

20

In [7]:
#2nd method to access 
info.get("name")
info.get("course")

'bca'

In [8]:
#adding new key and value in a pair in the dictionary
info['city']="lucknow"

In [9]:
print(info)

{'name': 'ritesh', 'age': 20, 'course': 'bca', 'marks': 90, 'city': 'lucknow'}