how to create a dictionary
how to access pairs in dictionary
how to run a loop in dictionary
how to make a nested dictionary
indexing in dictionary

In [11]:
student = {
    "name":"alice",
    "age":20,
    "course":"bca",
    "marks":90
}
print(student)

{'name': 'alice', 'age': 20, 'course': 'bca', 'marks': 90}

In [12]:
info= dict(name="Alice",age=20,course="bca",marks=90)
print(info)

{'name': 'Alice', 'age': 20, 'course': 'bca', 'marks': 90}

In [13]:
info= dict(name=input ("enter the name"),age=20,course="bca",marks=90)
print(info)

{'name': 'ritesh', 'age': 20, 'course': 'bca', 'marks': 90}

In [14]:
temp = {
    'lucknow':[30,36,50],
    'delhi':[40,45,50],
    'chennai':[30,40]
}
print(temp)

{'lucknow': [30, 36, 50], 'delhi': [40, 45, 50], 'chennai': [30, 40]}

In [ ]:
#average of temparature
values=temp['lucknow']
average=sum(values)/len(values)
print('average:',average)

average: 38.666666666666664

In [15]:
#1st method to access value through key
info['name']
info['age']

20

In [16]:
#2nd method to access 
info.get("name")
info.get("course")

'bca'

In [17]:
#adding new key and value in a pair in the dictionary
info['city']="lucknow"

In [18]:
print(info)

{'name': 'ritesh', 'age': 20, 'course': 'bca', 'marks': 90, 'city': 'lucknow'}

In [19]:
for i , j in student.items():
    print(f'{i}:{j}')

name:alice
age:20
course:bca
marks:90

In [22]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'course', 'marks'])
dict_values(['alice', 20, 'bca', 90])
dict_items([('name', 'alice'), ('age', 20), ('course', 'bca'), ('marks', 90)])

In [29]:
company={
    'emp001':{
        'dept':'Finance',
        'salary':50000,
        'name':'Alice'   
    },
    'emp002' : {
        'dept':'marketing',
        'salary': 45000,
        'name':'bob'
    },
    'emp003': {
        'dept':'IT',
        'salary':70000,
        'name':'popi'
    },
    'emp004': {
        'dept':'banking',
        'salary': 50000,
        'name': 'riya',
    }
}
print(company)

{'emp001': {'dept': 'Finance', 'salary': 50000, 'name': 'Alice'}, 'emp002': {'dept': 'marketing', 'salary': 45000, 'name': 'bob'}, 'emp003': {'dept': 'IT', 'salary': 70000, 'name': 'popi'}, 'emp004': {'dept': 'banking', 'salary': 50000, 'name': 'riya'}}

In [30]:
#for better showcase
from pprint import pprint
pprint(company)

{'emp001': {'dept': 'Finance', 'name': 'Alice', 'salary': 50000},
 'emp002': {'dept': 'marketing', 'name': 'bob', 'salary': 45000},
 'emp003': {'dept': 'IT', 'name': 'popi', 'salary': 70000},
 'emp004': {'dept': 'banking', 'name': 'riya', 'salary': 50000}}

In [31]:
company['emp005'] = {
    'dept':'finance',
    'salary': 60000,
    'name':'papi'
}

In [32]:
pprint(company)

{'emp001': {'dept': 'Finance', 'name': 'Alice', 'salary': 50000},
 'emp002': {'dept': 'marketing', 'name': 'bob', 'salary': 45000},
 'emp003': {'dept': 'IT', 'name': 'popi', 'salary': 70000},
 'emp004': {'dept': 'banking', 'name': 'riya', 'salary': 50000},
 'emp005': {'dept': 'finance', 'name': 'papi', 'salary': 60000}}

In [33]:
company['emp002']['dept']

'marketing'