major categories of function:

=user defined function
   -parameterized function
   -non parameterized function
   -return function
   -non return function
   -default parameterized function
   -lamba function

=built in function

In [ ]:
#non parametrized functiona
def greet():#function initialization
    print("hello")
    print("how are you?")
    print("i am good thank you")

In [3]:
greet()#function calling

hello
how are you?
i am good thank you

In [9]:
def sum(a,b):#parameter
    print(a+b)
sum(5,10)#arguement

15

In [7]:
a = 10
b = 5

In [4]:
def sum():
    print(a+b)

In [8]:
sum()

15

In [10]:
def age(age):
    if age >= 18:
        print("elligible")
    else:
        print("not elligible")
age(21)

elligible

In [11]:
age(15)

not elligible

In [13]:
def avg(a,b,c,d):
    print ((a+b+c+d)/4)
avg(10,20,30,40)

25.0

In [14]:
def avg(a,b,c,d):
    return((a+b+c+d)/4)
average = avg(10,20,30,40)
print(average)

25.0

In [15]:
print(average)

25.0

In [ ]:
def myCountry(country):
    return f'I love{country}' #f string for formatting
print(myCountry("India"))
print(myCountry("USA"))
print(myCountry("Japan"))

I loveIndia
I loveUSA
I loveJapan

In [17]:
def square(num):
    return num**num
square(4)

256

In [18]:
square = lambda num: num**num
print(square(4))

256

In [22]:
def number(a):
    if a%2 == 0:
        return "even"
    else:
        return "odd"

In [23]:
number(10)

'even'