In [2]:
#for loop
fruits = ['apple','banana','cherry','date']
for i in fruits:
    print(i , end=" ")

apple banana cherry date

In [3]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [4]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [6]:
for i in range(2,15,2):
    print(i)

2
4
6
8
10
12
14

In [15]:
#print your name 10 times
for i in range(11):
    print("Ritesh")

Ritesh
Ritesh
Ritesh
Ritesh
Ritesh
Ritesh
Ritesh
Ritesh
Ritesh
Ritesh
Ritesh

In [20]:
#print even numbers using for
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [24]:
#print odd numbers using for
for num in range(1, 21):
    if num % 2 != 0:
        print(num)

1
3
5
7
9
11
13
15
17
19

In [19]:
#print number till 10 using while loop
i=0
while i<=10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [28]:
#print name using while loop
name = "ritesh"
i= 0
while i < 10:
    print(name)
    i += 1

ritesh
ritesh
ritesh
ritesh
ritesh
ritesh
ritesh
ritesh
ritesh
ritesh

In [29]:
#print even numbers using while loop
#pritn odd numbers using for loop
num=2
while num <=20:
    print(num)
    num +=1

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
BREAK AND CONTINUE

In [34]:
#break 
fruits = ['kiwi','apple','banana','cherry','onion','date']
for i in fruits:
    if i=='onion':
        break
    print(i)

kiwi
apple
banana
cherry

In [33]:
#continue
fruits = ['kiwi','apple','banana','cherry','onion','date']
for i in fruits:
    if i=='onion':
        continue
    print(i)

kiwi
apple
banana
cherry
date